---
const title = "Moto Webs";
---
<html lang="en">
  <head><meta charset="utf-8" /><title>{title}</title></head>
  <body>
    <h1>🚀 Astro is going live!</h1>
    <p>Deployed by Brandviser. Edit this file to see live reload.</p>
  </body>
</html>
